<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="protocol" value="smtp"/>
        <property name="host" value="smtp.zoho.com.cn"/>
        <property name="port" value="465" />
        <property name="username" value="fadali@zoho.com.cn"/>
        <property name="password" value="bB123456"/>
        <property name="javaMailProperties">
            <props>
            	<!-- 邮箱服务进行入证：username与发件人是否一致 -->
                <prop key="mail.smtp.auth">true</prop>
                <!-- 邮件传输所使用加密协议: 465 -->
				<prop key="mail.smtp.ssl.enable">true</prop>
            </props>
        </property>
    </bean>
	
	<bean id="mailUtil" class="cn.feituo.erp.util.MailUtil">
		<property name="sender" ref="mailSender"></property>
		<property name="from" value="fadali@zoho.com.cn"></property>
	</bean>
</beans>
	
